@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto';
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(235, 18%, 26%);
  color: #242743;
}
